


/*!* Fixed column scroll bar spacer styling *!*/
/*.tablesorter-scroller-bar-spacer {*/
    /*background: #eee;*/
/*}*/
/*!* add border to right side (LTR pages) of fixed column *!*/
/*.tablesorter-scroller-fixed:after {*/
    /*content: '';*/
    /*border-right: 1px solid #444;*/
    /*width: 1px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*z-index: 2;*/
    /*!* set to zero for non-jquery ui themes; use "left" here for RTL pages *!*/
    /*right: 0;*/
    /*!* match the margins set to the table to keep the border the same height as the table *!*/
    /*margin: 10px 0 15px;*/
/*}*/

.or {
    color:#a8a8a8;
}





body {
    background-color: #3d3d3d;

    /*table-layout: fixed;/*/
    /*width:100%;*/
    /*white-space: nowrap;*/
    /*margin-left:10%;*/
    /*margin-right:10%;*/
}

table#Submit_Table {
    margin-bottom:2%;
    padding: 10px;
    color:black;
    /*max-width:80%;*/
   }

.tablesorter-headerRow .tablesorter-header-inner {
    font-family:"Open Sans", Helvetica;
    font-size: 14px;
    /*color:red;*/
}


input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.Report_Tabs {

    color:white;
}

table#Pages_Table, #Pages_Table tr, #Pages_Table td, #Pages_Table a:link, #Pages_Table a:visited, #Pages_Table a:hover, #Pages_Table a:active  {
    padding: 10px;
    color:white;
    /*margin-bottom: 2%;*/

}

#Custom_box {
    color:black;
}

table#Links_Table, #Links_Table tr, #Links_Table td {
    padding: 10px;
    margin-top:4%;
    color:white;
}

#submit {
    color:black;
    font-weight: bold;
}

#pagecontainer
{
    max-width: 85%;
    background-color: #3d3d3d;

}

.tablesorter-blue .tablesorter-header {
    color:black;
    font-size:12px;
}

/*.tablesorter a:link, .tablesorter a:visited, .tablesorter a:hover, .tablesorter a:active {*/
    /*text-decoration: none;*/
    /*font-family: "Open Sans", Helvetica;*/
    /*font-size: 14px;*/

/*}*/

.reset_button {
    margin-right: 5px;
}

div#outer
{
    width: 50%;
}

#pager {
    color:white;
    font-size: 15px;
}

.pagesize {
     color:black;
 }

#Projects_Table {
    font-size: 14px;
    color:black;
    width: 100%;
}


.Main_Header a:link, .Main_Header a:visited, .Main_Header a:hover, .Main_Header a:active  {
    /*display: block;*/
    font-size: 36px;
    /*margin-top: 0.67em;*/
    /*margin-bottom: 0.67em;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    font-weight: bold;
    color:White;
    text-decoration: none;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

.tablesorter-blue thead td {
    /*background-color:#a2a2a2

}





.tablesorter-filter-row {
    /*background-color:#565656;*/

}


/*.tablesorter-blue td {*/
    /*border: #a9a9a9 !important;*/
/*}*/

.tablesorter-filter-row td {
    background-color:#a2a2a2 !important;

}

.tablesorter-blue th {
    color:black;
    font-weight: bold;
    font-size: 14px;
    background-color:#a2a2a2;

}

.tablesorter-blue tbody td, .tablesorter-blue tfoot td, .tablesorter-blue tfoot th {
    color:black;

}

.Button_Link {
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444;
    cursor: pointer;

}

.Button_Link:hover {
    text-decoration: underline;
}

.Button_Box {
    color:black;
}


.Deleted_Row_Colored {
    background-color: rgba(200, 0, 0, 0.1) !important;

}

.Deleted_Row_Colored a {
    color:Black;
    text-decoration: none;
    font-family: "Open Sans", Helvetica;
    font-size: 14px;

}


.Active_Row_Colored {
    background-color: rgba(0, 200, 0, 0.1) !important;

}

.Active_Row_Colored a {
    color:Black;
    text-decoration: none;
    font-family: "Open Sans", Helvetica;
    font-size: 14px;


}

.Active_Row_Colored a:hover, .Deleted_Row_Colored a:hover {
    text-decoration: underline;
}

.Active_Row_Uncolored, .Active_Row_Uncolored a {
    color:Black;
    text-decoration: none;
    font-family: "Open Sans", Helvetica;
    font-size: 14px;
}

.Active_Row_Uncolored, .Deleted_Row_Uncolored  {
    background-color: rgba(224, 224, 224, 0.62) !important;

}

.Active_Row_Uncolored a:hover, .Deleted_Row_Uncolored a:hover {
    text-decoration: underline;

}

.Deleted_Row_Uncolored, .Deleted_Row_Uncolored a, .tablesorter-blue .Deleted_Row_Uncolored {
    color: #a20000;
}

.Select_Restore_Row, .tablesorter-blue .Select_Restore_Row {
    background-color:rgba(0, 255, 0, 1);
  }

.tablesorter-blue .Select_Restore_Row td, .Select_Restore_Row a {
    color:black;
    font-weight:bold;
}

.Delete_PID_Button {
    background-color:#ff7272ab;
    font-weight:bold;
    border-color:#ff0000ab;
}

.Restore_PID_Button {
    background-color:#9bff9b;
    font-weight:bold;
    border-color:#00ff00
}

#Submit_Table .submit_delete_button {
    background:#ff7272ab;
    border-color:#ff0000ab;
    font-weight:bold;
}

#Submit_Table .submit_restore_button {
    background:#9bff9b;
    border-color:#00ff00;
    font-weight:bold;
}

.Restore_PID_Checkbox {
    background:#9bff9b;
    font-weight:bold;
    border-color:#00ff00
}

.Delete_PID_Checkbox {
    background:#ff7272ab !important;
    font-weight:bold;
    border-color:#ff0000ab;
}

.Hide_Header {
    visibility: hidden;
}





div#Delete_Projects_Inner_Div td {
     background:#f003;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    border: 1px solid black;

 }

div#Delete_Projects_Inner_Div th {
    background:#ff7979;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    border: 1px solid black;
}


div#Restore_Projects_Inner_Div td {
    background:#59c3594d;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    border: 1px solid black;

}

div#Restore_Projects_Inner_Div th {
    background:#008000b3;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    border: 1px solid black;
}



/*#Restore_Projects_Div {*/
    /*background:#4986491a;*/
    /*border:1px solid gray;*/

/*}*/

div.modal-header, div.modal-footer {
    background-color:lightgrey;
}

hr#Spacer {
    border-top: 2px solid black;
}




