


/*!* Fixed column scroll bar spacer styling *!*/
/*.tablesorter-scroller-bar-spacer {*/
    /*background: #eee;*/
/*}*/
/*!* add border to right side (LTR pages) of fixed column *!*/
/*.tablesorter-scroller-fixed:after {*/
    /*content: '';*/
    /*border-right: 1px solid #444;*/
    /*width: 1px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*z-index: 2;*/
    /*!* set to zero for non-jquery ui themes; use "left" here for RTL pages *!*/
    /*right: 0;*/
    /*!* match the margins set to the table to keep the border the same height as the table *!*/
    /*margin: 10px 0 15px;*/
/*}*/





body {
    background-color: #3d3d3d;

    /*table-layout: fixed;/*/
    /*width:100%;*/
    /*white-space: nowrap;*/
    /*margin-left:10%;*/
    /*margin-right:10%;*/
}

table#Submit_Table {
    margin-bottom:2%;
    padding: 10px;
    color:black;
    /*max-width:80%;*/
   }


input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.Report_Tabs {
 
    color:white;
}

table#Pages_Table, #Pages_Table tr, #Pages_Table td, #Pages_Table a:link, #Pages_Table a:visited, #Pages_Table a:hover, #Pages_Table a:active  {
    padding: 10px;
    color:white;
    /*margin-bottom: 2%;*/

}

#Custom_box {
    color:black;
}

table#Links_Table, #Links_Table tr, #Links_Table td {
    padding: 10px;
    margin-top:4%;
    color:white;
}

#submit {
    color:black;
    font-weight: bold;
}

#pagecontainer
{
    max-width: 80%;
    background-color: #3d3d3d;

}

.tablesorter-blue .tablesorter-header {
    color:black;
    font-size:12px;
}

.tablesorter a:link, .tablesorter a:visited, .tablesorter a:hover, .tablesorter a:active {
    text-decoration: none;
    color:Black;
    font-family: "Open Sans", Helvetica;
    font-size: 14px;

}

.reset_button {
    margin-right: 5px;
}

div#outer
{
    width: 50%;
}

#pager {
    color:white;
    font-size: 15px;
}

.pagesize {
     color:black;
 }

#Projects_Table {
    font-size: 14px;
    color:black;
    width: 100%;
}


.Main_Header a:link, .Main_Header a:visited, .Main_Header a:hover, .Main_Header a:active  {
    /*display: block;*/
    font-size: 36px;
    /*margin-top: 0.67em;*/
    /*margin-bottom: 0.67em;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    font-weight: bold;
    color:White;
    text-decoration: none;
}

h2 {
    font-size: 18px;
}

.tablesorter-blue thead td {
    /*background-color:#565656;*/

}


.tablesorter-filter-row {
    /*background-color:#565656;*/

}
.tablesorter-filter-row td {
    /*background-color:#565656;*/

}

.tablesorter-blue th {
    color:black;
    font-weight: bold;
    font-size: 14px;

}

.tablesorter-blue tbody td, .tablesorter-blue tfoot td, .tablesorter-blue tfoot th {
    color:black;

}

.Button_Link {
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444;
    cursor: pointer;

}

.Button_Link:hover {
    text-decoration: underline;
}

.Button_Box {
    color:black;
}

.color a:link:hover{
    text-decoration: underline;
}

